<div class="content">
	<article>
		<p>My name is Phillip Jackson. This project is my attempt at a web based resume that hopefully will reflect the things that I have taught myself over the last few years of developing as a hobby. It is and will be a on going work-in-progress for some time I believe. But also one that you and I can track, since I have this project hosted on my <a href="https://github.com/unisys12/Resume">Github</a> account. I am doing it this way, not just because I am currently teaching myself Git from the command line, but to showcase that I am doing most all of this on my own. No fancy frameworks, packages or any of that fancy stuff that makes web development so easy these days. Just to get it out there, what I am using is as follows: </p>

		<h5>Libraries Used</h5>
		<ul>
			<li ng-repeat="lib in libs">
				<a href=" {{ lib.url }} ">{{ lib.name }}</a> - version: {{ lib.ver }}
			</li>
		</ul>

		<h5>Tools Used</h5>
		<ul>
			<li ng-repeat="tool in tools">
				<a href=" {{ tool.url }} ">{{ tool.name }}</a> - version: {{ tool.ver }}
			</li>
		</ul>

		<p>Outiside of the above mentioned tools or libraries, everything else is just plain old HTML5 and CSS3(compiled that is!). So I guess your asking yourself, "Self! Why is he doing it this way? Why not use one of those cool PHP frameworks out there or Rails or something like that?". Well, self. I can answer that pretty plainly. As of right now, I do not own a domain yet and hosting this on Google Drive, so... And yes, I know they have a PHP App Engine that I could use. But I have a few reasons for not using it. First off, I would not use it everyday, even if I got a job as a developer. Secondly, I am currently learning so much now that I am close to over loading myself. My poor little brain can only handle so much. Third, working with a SDK, framework and libs just makes my head hurt.</p>

		<p>I also guess your wondering why the overall look of the site is a bit... What's a nice word? <em>FLAT!</em>And I'm not refering to that cool new way of design principles that has over taken the net inspired by the OS everyone loves to hate. No worries, I can explain. It's pretty simple really. I suck at it! Not scared to admit it either. I just suck at degin. For some reason, my brain just does not allow me to create visually. I mean, if someone came to me and said, "Make this look like this." I could. But give me a blank screen and I'll end up giving you a site that looks like it came from the late 90's. But! With that said and laid out on the table, I will try by best. Again, this is about displaying my current ablities, not how well I can use Bootstrap or Foundation (personally perfer foundation by the way :} ).</p>

	</article>
</div>
